h1 {
  color: red;
}

.search_body {
  /* background-color: #bbdefb; */
  background-image: url(/static/images/github.png);
  background-size: contain;
  height: 100%;
}

.search_main {
  text-align: center;
}
