<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <body class="search_body">

            <div class="search_main">
                <div >
                    <h1 style="text-align: center;">Search_list</h1>
                    
                    {% if 'N' in li %}
                        <li>데이터가 없습니다.</li>
                    {% else %}
                        {% for i in li %}
                        <li>{{i}}<br></li>
                        {% endfor%}
                    {% endif %}


                    

                    <button  onclick="location.href='http://127.0.0.1:5000/'"class="button-82-pushable" role="button">
                        <span class="button-82-shadow"></span>
                        <span class="button-82-edge"></span>
                        <span class="button-82-front text">
                            Re Search
                        </span>
                    </button>


                    <button  onclick="location.href='http://127.0.0.1:5000/refresh'"class="button-82-pushable" role="button" style="width: 180px;">
                        <span class="button-82-shadow"></span>
                        <span class="button-82-edge"></span>
                        <span class="button-82-front text">
                              Refresh
                        </span>
                    </button>

                </div>
             </div>
        </body>
    </head>
</html>

