<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body class="search_body">
    <div class="search_main">
        <div >
            <h1 style="font-size: 50px;">Search</h1>
            <form action="/result" method="POST">
                <input name="nickname" id="nickname"></input>
                <!-- <input class="button-82" type="submit" value="검색"> -->

                <br>

                <button class="button-82-pushable" role="button">
                    <span class="button-82-shadow"></span>
                    <span class="button-82-edge"></span>
                    <span class="button-82-front text">
                    Search
                    </span>
                </button>


            </form>
        </div>
    </div>
</body>
</html>